* {
   
    box-sizing: border-box;
}
body {
    
   color: #000000;
   font-family: Helvetica, Arial, sans-serif;
  
}
header {
    
    padding: 20px 35px;
    background-color: #a5bae0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header a {
    text-decoration: none;
}
header h1 {
    align-items: center;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
nav ul li {
    
}
section {
    padding: 60px;
}
.hero {
    box-sizing: border-box;
   
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}