* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: Black;
    line-height: 1.5;
    background-image: linear-gradient(to bottom right, #8ab2b9, #ffd194);
  }
  h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
  }
  /* header styles */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;   
}
header a {
    text-decoration: none;
}
header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    align-items: center;
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
    text-decoration: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
nav a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
  }
  nav a:hover {
  background: #667292;
  
  border-radius: 15px;
  text-shadow: none;
  }
section {
    padding: 60px;
}
/* hero styles */
.hero-banner {
  background-image: url("../assets/images/sunset.jpg");
  background-size: cover;
  background-position: top 40% right 75%;
  background-blend-mode: soft-light;
  min-height: 60vh;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
/* main content styles */
  .page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 2.5vw;
    line-height: 1.1;
    border-bottom: 2px solid;
  }
  .page-section > div {
    flex: 0 0 77%;
  }
  .page-section p {
    margin-bottom: 20px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-item {
    border: 1px solid black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }  
  .flex-item h3 {
    border-bottom: 2px solid;
  }
  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}
.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3)
}
.page-section address {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;  
}
.page-section address a {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}
.page-section address a:hover {
    background: #667292;
    border-radius: 15px;
    text-shadow: none;
    }
#contact {
  margin-bottom: 0;
  padding-bottom: 0;
}
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid;
  } 
  footer address a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    margin-right: 10px;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;  
  } 
  footer address a:hover {
    background: #667292;
    border-radius: 15px;
    text-shadow: none; 
  }
  footer img {
    width: 270px;
    height: 202.5px;
  }
  /* background images start */
  .run-buddy {
    background-image: url("../assets/images/02-run-buddy.jpg");
  }
  .tbd {
    background-image: url("../assets/images/wireframe.jpg");
    background-position: center;
  }
  .cannot-wait {
    background-image: url("../assets/images/raindrops.jpg");
  }
  .react-calc {
    background-image: url("../assets/images/calculator.jpg");
    background-position: center;
  }
  .aap {
    background-image: url("../assets/images/puzzle.jpg");
  }
  /* media queries start */
  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }